@{
    ViewBag.Title = "Doctor_PasswordRegister";
}

@model FINAL_EAD_PEOJECT.Models.Doctor_Register


@using (Html.BeginForm("Doctor_PasswordRegister", "Doctor_Register"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Registr Doctor</legend>
        <div class="editor-field">
            @*@Html.TextBoxFor(Model => Model.username, new { placeholder = "Username" })
            @Html.ValidationMessageFor(Model=>Model.username)*@

            <div id="checking">Checking...</div>
            <div>

                <input type="text" name="UserName" id="UserName" placeholder="username" /> @*<input type="button" id="b1" value="Check" />*@
                <div id="result"></div>
                @Scripts.Render("~/bundles/jquery")
               

                <script>

                    $(document).ready(function () {

                        $('#checking').hide();
                        $('#sumbit').hide();
                        $('#UserName').focusout(function () {

                            var userName = $('#UserName').val();

                            //alert('User Name ='+ userName);
                            $('#checking').show();
                            $.getJSON("/LogIn/CheckUserName?UserName=" + userName, function (data) {
                                $('#checking').hide();
                                if (data) {
                                    $('sumbit').hide();
                                    $('#result').text("User already exists in database");
                                   
                                }
                                else {
                                    $('#result').text("User Name is available");
                                    $('#sumbit').show();
                                }
                            });

                        });

                    });
                </script>
            </div>
        </div>
        <br />
        <div class="editor-field">
            @Html.PasswordFor(Model => Model.passsword, new { placeholder = "password" })
            @Html.ValidationMessageFor(Model => Model.passsword)
        </div>
        <br /><br />
        <div>
            <input type="submit" value="Submit" class="btn btn-warning" id="submit" />
        </div>
    </fieldset>
}

